@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
}

/* html,
body {} */

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;

}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 30px;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    z-index: -4;
    background-color: white;
}

h1 {
    font-size: 6vw;
    font-weight: 600;
    mix-blend-mode: difference;
    user-select: none;
    pointer-events: none;
}

.btn {
    padding: 20px;
    color: black;
    font-weight: 400;
    font-size: 1.5vw;
    border: 1px solid black;
    outline: none;
    border-radius: 10px;
    background-color: white;
    pointer-events: all;
}